-# TODO: bigger font size, 2 projects per line

%div.container#page

  -##################
  -##### NAVBAR #####
  -##################
  %nav.row.flex-items-xs-middle
    %h1.col-sm-5.col-xs-12#logo Zak Strassberg
    %ul.col-sm-7.col-xs-12#bar

      %li.col-xs-3.float-xs-right
        %a.btn.btn-outline-primary{:href => "#contact"} Contact
      %li.col-xs-3.float-xs-right
        %a.btn.btn-outline-primary{:href => "#work"} Work
      %li.col-xs-3.float-xs-right
        %a.btn.btn-outline-primary{:href => "#skills"} Skills

  -##################
  -##### BANNER #####
  -##################
#banner.container-fluid
  %div.container
    %header.row.banner
      .col-md-4.push-md-8.col-xs-12#portrait
        %img.img-fluid{:src => "/images/zak.jpg"}
        %div.clear
      .col-md-8.pull-md-4
        %h2
          Hi! I'm Zak and I
          %i.fa.fa-heart.text-danger{ "aria-hidden" => "true"}
          %span.sr-only.text-danger love
          building things!
        %p
          


        -# %p.col-xs-12.col-md-8
        -#   Born in the cold wilderness of Belfast, Maine and hardened in the artic
        -#   wasteland called Montreal, I have come to write responsive, accessible
        -#   websites!
        -# %p.col-xs-12.col-md-8
        -#   Hire me if you want a hard-working, inquisitive mind in your organization.
        -#   My superpowers are logic, communication, and a relentlessly positive attitude.
        -#
        -# %h2.col-xs-12 Front &amp;  backend developer, scientist, and enthusiast
        -# %p.col-xs-12.col-md-8
        -#   My philosophy is
        -# %h2.col-xs-12 Life science background, practically trained coder
        -# %p.col-xs-12.col-md-8
        -#   I'm a scientist at heart and I have a penchant for biology. I recently decided
        -#   to branch out and explore some new career options. I attended
        -#   %a{:src => "http://codingdojo.com"}
        -#     Coding Dojo
        -# %p.col-xs-12 I care about efficient code, careful thought, and accessibility.
        -# %h2.col-xs-12 Ask me about my work
        -# %p.col-xs-12 maybe add a picture of myself here

        -#########################
        -##### TESTIMONIALS ######
        -#########################
        -# %section.col-xs-12#testimonials
        -#   %ul.col-xs-12#testimonialSlider
        -#     %li
        -#       %blockquote
        -#         %p " I still don't believe that Zak can stop smiling for any reason ever."
        -#         %footer Danielle DeCarle, PhD Student of Ecology and Evolutionary Biology at the University of Toronto and the Royal Ontario Museum
        -#     %li
        -#       %blockquote
        -#         %p
        -#           Interpersonally, Zak has shown himself to be an individual who is inquisitive,
        -#           hard­working, well­-motivated, and professionally mature. He sets and achieves
        -#           high standards for himself and works well with others.
        -#         %footer Dr. Stanley Rockson, Chief of Consultative Cardiology, Stanford University School of Medicine

        -########################
        -##### SOCIAL LINKS #####
        -########################
      %section.col-xs-12#links
        .col-xs-12.text-xs-center
          %p.sr-only Links:
        %ul.list-inline.text-xs-center
          %li.list-inline-item
            %a{:href => "http://github.com/ZakStrassberg"}
              %i.fa.fa-github-alt.fa-4x{"aria-hidden" => "true", :title => "Github"}
              %span.sr-only Github
          %li.list-inline-item
            %a{:href => "http://linkedin.com/in/ZakStrassberg"}
              %i.fa.fa-linkedin.fa-4x{"aria-hidden" => "true", :title => "LinkedIn"}
              %span.sr-only LinkedIn
          %li.list-inline-item
            %a{:href => "http://twitter.com/ZakStrassberg"}
              %i.fa.fa-twitter.fa-4x{"aria-hidden" => "true", :title => "Twitter"}
              %span.sr-only Twitter
          %li.list-inline-item
            %a{:href => "mailto:zakstrassberg@gmail.com"}
              %i.fa.fa-envelope.fa-4x{"aria-hidden" => "true", :title => "Email"}
              %span.sr-only Email

%div.container
  -##################
  -##### SKILLS #####
  -##################
  %section.row#main
    %article.col-xs-12#skills
      %h1.text-xs-center Skills

      %dl.lead.row
        %dt.col-sm-2 Languages
        %dd.col-sm-10 JavaScript (ES2016+), Ruby, Python, HTML5 & CSS3 (including HAML, Pug/Jade, Slim, & SASS)

        %dt.col-sm-2 Server
        %dd.col-sm-10 AWS, Heroku, private VPS (8+ years of web & game server administration)

        %dt.col-sm-2 Databases
        %dd.col-sm-10 SQL & MySQL, MongoDB, Postgres, Redis

        %dt.col-sm-2 Frameworks
        %dd.col-sm-10 Angular, Vue, React, Rails, Flask, Bootstrap, Semantic UI, Materialize

        %dt.col-sm-2 Other tech
        %dd.col-sm-10 Vim/Neovim, Linux (Debian), Photoshop, Amazon Alexa, LaTeX/XeTeX, git, Webpack, Electron

        %dt.col-sm-2 Miscellaneous
        %dd.col-sm-10 SCRUM, TDD, StackOverflow
      .col-xs-12.text-xs-center
        %a.btn.btn-success.btn-lg{:href => "http://zakstrassberg.com/resume.pdf"} View my Resume
  -##########################
  -########## WORK ##########
  -##########################
  %section.row#work
    %article.col-xs-12
      %h1.text-xs-center Work

    = render :partial => 'project',
      :locals => {:url => "http://foodtrucks.zaks.pw",
        :name => "Dude Where's my Truck?",
        :img => "/images/dwmt.png",
        :content => "<p>Dude Where's My Truck is a python webapp that dynamically filters and displays food trucks in San Francisco. It won the August Python hackathon at Coding Dojo!</p><p> It uses Google Maps API, Google Geometry API, Data.gov API, Twilio, FontAwesome, Moment.js, Bootstrap, and jQuery.</p><p> DWMT was a Group project (2 person) completed in four days, I was responsible for project management and front-end development.</p>"}

    .clearfix.visible-xs-block

    = render :partial => 'project',
      :locals => {:url => "http://tetromino.herokuapp.com/",
        :name => "Tetromino",
        :img => "/images/tetromino.png",
        :content => "<p>Battle your friends in multiplayer, competitive Tetris! Written for MEAN stack project week, this was an individual project.</p><p>Tetromino is built on Node, Mongo, Express, Vue, Bootstrap, websockets/Socket.io, and Heroku.</p>"}


    .clearfix.visible-xs-block.visible-sm-block

    = render :partial => 'project',
      :locals => {:url => "http://ninja-messages.herokuapp.com",
        :name => "Ninja Messages",
        :img => "/images/ninja-messages.png",
        :content => "<p> Ninja Messages is a threaded messaging board created for Rails stack  project week. It features live-reloading posts and activity  notifications when users interact with the site.</p><p> This was an individual project completed in 5 days and won the October Rails hackathon.</p>"}

    .clearfix.visible-xs-block
    = render :partial => 'project',
      :locals => {:url => "https://github.com/ZakStrassberg/exalted-roller",
        :name => "Node.js Dice Roller",
        :img => "/images/exalted-roller.png",
        :content => "<p> I built a diceroller for Discord (a chat client) for one of my favorite tabletop RPGs, Exalted.  The dice-rolling logic is written in javascript and it uses Node.js to connect to a discord server.</p>  <p> It listens for messages starting with <mark>.roll</mark>, parses the message for parameters, and outputs the roll along with formatting and the number of successes.</p>"}

    .clearfix.visible-xs-block.visible-sm-block


    = render :partial => 'project',
      :locals => {:url => "http://github.com/zakstrassberg/dotfiles",
        :name => "Dotfiles",
        :img => "/images/dotfiles.png",
        :content => "<p> I maintain a github repository hosting my dotfiles. They are a work in progress  (and probably will be so in perpetuity). Send me a message on github  if you have any questions about my configs.</p>"}


    .clearfix.visible-xs-block

    = render :partial => 'project',
      :locals => {:url => "https://github.com/ZakStrassberg/zakstrassberg.com/",
        :name => "ZakStrassberg.com",
        :img => "/images/portfolio.png",
        :content => "<p> The source code for this very website can be found above.  It was coded in HAML + SASS and exported using the open source  <a href='http://get-serve.com/'>Serve</a> gem.</p>"}


    .clearfix.visible-xs-block.visible-sm-block

  -###################
  -##### CONTACT #####
  -###################
  %article.col-xs-12#contact
    %h1.text-xs-center Contact
    %p Zak Strassberg
    :javascript
      //<![CDATA[
      <!--
      var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){y%=127;o+=St" +
      "ring.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"\\035\\t\\023\\035t" +
      "hmm$c.\\177!r|j~-g#\\177,018zz*`7v~rzjw\\014M\\037LH\\036QOAEO\\003T\\003MG" +
      "QCq\\\\PPwC\\020U\\025\\n\\017\\024\\037\\002ysk807?<0bw3w!er<j/05!5?p<s ! " +
      "80\\022I\\013^\\010HW\\\\\\001WW[W\\004CBY\\n\\035XI\\rX\\024\\020\\030\\01" +
      "0:\\010U\\027):\\177qaqsuf)e%\\177xl|dc:#8zz>#d|3>4&)\\014}\\000\\026\\026\\"+
      "025z{\\035\\032\\032wp\\032\\034\\037lm\\000\\003\\004ij\\007\\t\\tfg\\013\\"+
      "017\\016c\\034\\010rrt\\031\\032u{y\\026\\027\\014\\004}\\177`\\r\\016\\035" +
      "\\034\\024$\\014{g\\035lkl\\002\\003\\024Y\\031TST:;\\034\\020\\034Y\\022\\" +
      "tA\\n\\036\\024\\025:_!L\\024\\021\\t\\020\\r]!\\\\\\\\]^!XY658UV8>=RS \\\"" +
      "\\\"OHA#%(EF*.-BC\\026\\023\\022\\177x\\026\\025\\027tu\\030\\031\\034qr\\0" +
      "33\\004\\003\\002oh\\005\\006\\007de\\016\\t\\014ab\\rrq\\036\\037pvv\\033\\"+
      "024|y{\\020\\021z~`\\r\\016ege\\n\\013ojj\\007\\000lmo<=PST9:\\02345_X\\\\1" +
      "23,-.\\035()FEH%&LMM\\\"\\\\233XY678UVyPQs= !NOt/(?)a,qka#!\\024\\005\\004\\"+
      "037\\036G\\031\\003\\004\\014\\030\\016\\006\\rr\\r\\030WO\\010[\\025XEMM_I" +
      "A\\006\\027\\026kj;k\\032l/o<\\010//#\\016<.82|+|028\\033+;3\\03701-\\006O\\"+
      "005\\r\\r\\027\\0224UB\\005P[__RU\\010IAI_\\017^Q\\000QCJU@i)dj\\177,-,a2f7" +
      "e6>2y9`|r.~c\\177w\\177w2e#s\\014}\\000\\177\\006\\030I\\013A\\tXJZV\\007V\\"+
      "034I\\032U\\024[Y^LZTNZ\\037\\027\",123)"                                    ;
      while(x=eval(x));
      //-->
      //]]>
    %p 909 257 8727



  -#     -###################
  -#     -##### SCIENCE #####
  -#     -###################
  -#     %section.col-xs-12.col-md-6#science
  -#       %h2.text-xs-center Science
  -#       %ul
  -#         %li
  -#           %h2
  -#             Stanford University
  -#             %small (Apr 2014 - Jul 2016)
  -#           %p.lead Lab manager and animal surgeon
  -#           %p Focus on <em>in vivo</em> research in the lab of Dr. Ngan Huang; responsible for technical and regulatory documents, wrote scripts to automate work, heavily involved in lab management and hiring.
  -#           %p Still employed part-time for technical expertise with an open invitation to come back to lab.
  -#           %p.lead Research Life Science Research Assistant I
  -#           %p Secondary position in the lab of Dr. Stanley Rockson, Chief of Consultative Cardiology at Stanford University School of Medicine.
  -#           %h4 Publications:
  -#           %ul
  -#             %li  Hadamitzky, Catarina, et al. "Aligned nanofibrillar collagen scaffolds–Guiding lymphangiogenesis for treatment of acquired lymphedema." Biomaterials (2016).
  -#             %li Cai, Lei, et al. "Protein-Engineered Hydrogels for Improved Efficacy of Stem Cell-Based Injection Therapy in a Murine Model of Peripheral Arterial Disease." Circulation 132.Suppl 3 (2015): A15060-A15060.
  -#         %li
  -#           %h2
  -#             McGill University
  -#             %small (Apr 2012 - Apr 2013)
  -#           %p Research assistant
  -#           %p Optimization for various protocols, including maximization of recombinant protein yield and development of autoinduction media for
  -#         %li
  -#           %h2
  -#             Jackson Laboratories
  -#             %small (Jan 2010 - May 2010, May 2011 - Aug 2011)
  -#
  -# -#################
  -# -##### ABOUT #####
  -# -#################
  -# %section.row#about
  -#   %article.col-xs-12.col-md-8#about
  -#     -# About section (parsed from Markdown)
  -#     %h1.text-xs-center About
  -#     :markdown
  -#       I've always been intensely interested in the web. Growing up in rural Maine, the internet was a link to the rest of the world unlike anything I had ever encountered before. I cut my teeth in DC++ (an early peer-to-peer file sharing client) and before long I was running game servers and installing Linux in order to play with LAMP. Soon thereafter I discovered IRC and the rest is history.
  -#
  -#       I became interested in Biology after an internship at The Jackson Laboratory, a world-class research facility. I would go on to major in Biology at McGill University, although my interest in technology never waned. During this time I continued to hone my technical skills, learning LaTeX and keeping up with new developments in web design.
  -#
  -#       After graduating from McGill I spent time deciding what to do next. While volunteering for a lab at Boston University School of Medicine I discovered how fun and exciting coding is. I taught myself Python in a weekend and had a script ready for testing on Monday. Soon thereafter I was offered a position at Stanford University School of Medicine and joined the lab of Dr. Ngan Huang.
  -#
  -#       After 2 years at Stanford I was ready for a change and decided to attend Coding Dojo. I wanted to learn new skills and take my entirely self-taught coding skills to the next level. Now I am looking for a job in the tech industry. I am a quick study, a hard worker, and a self-motivated individual.
