-# TODO: bigger font size, 2 projects per line

%div.container#page

  -##################
  -##### NAVBAR #####
  -##################
  %nav.row.flex-items-xs-middle
    %h1.col-sm-5.col-xs-12#logo Zak Strassberg
    %ul.col-sm-7.col-xs-12#bar

      %li.col-xs-3.float-xs-right
        %a.btn.btn-outline-primary{:href => "#contact"} Contact
      %li.col-xs-3.float-xs-right
        %a.btn.btn-outline-primary{:href => "#work"} Work
      %li.col-xs-3.float-xs-right
        %a.btn.btn-outline-primary{:href => "#skills"} Skills

  -##################
  -##### BANNER #####
  -##################
#banner.container-fluid
  %div.container
    %header.row.banner
      .col-md-4.push-md-8.col-xs-12#portrait
        %img.img-fluid{:src => "/images/zak.jpg"}
        %div.clear
      .col-md-8.pull-md-4#copy
        %h2
          Hi! I'm Zak and I
          %i.fa.fa-heart.text-danger{ "aria-hidden" => "true"}
          %span.sr-only.text-danger love
          building things!
        %p I am a full stack engineer focusing on responsive and engaging webapps
        %p You can usually find me in Mountain View, CA but I am interested in working remotely

        %h4 Web done right
        %p I have a diverse set of skills ranging from front-end dev, API design, and chat bots all the way to data analysis, devops, and Linux server administration
        %p

        %h4 Looking to help ship
        %p
          In the past I've only worked in academic environments and I want to
          work on a product. For more info about me, view my resume
          %a{:href=>"http://zakstrassberg.com/resume.pdf"} here.
        -########################
        -##### SOCIAL LINKS #####
        -########################
      %section.col-xs-12#links
        .col-xs-12.text-xs-center
          %p.sr-only Links:
        %ul.list-inline.text-xs-center
          %li.list-inline-item
            %a{:href => "http://github.com/ZakStrassberg"}
              %i.fa.fa-github-alt.fa-4x{"aria-hidden" => "true", :title => "Github"}
              %span.sr-only Github
          %li.list-inline-item
            %a{:href => "http://linkedin.com/in/ZakStrassberg"}
              %i.fa.fa-linkedin.fa-4x{"aria-hidden" => "true", :title => "LinkedIn"}
              %span.sr-only LinkedIn
          %li.list-inline-item
            %a{:href => "mailto:zakstrassberg@gmail.com"}
              %i.fa.fa-envelope.fa-4x{"aria-hidden" => "true", :title => "Email"}
              %span.sr-only Email

%div.container
  -##################
  -##### SKILLS #####
  -##################
  %section.row#main
    %article.col-xs-12#skills
      %h1.text-xs-center Skills

      %dl.lead.row
        %dt.col-sm-2 Languages
        %dd.col-sm-10 JavaScript (ES2016+), Ruby, Python, HTML5 &amp; CSS3 (including HAML, Pug/Jade, Slim, &amp; SASS)

        %dt.col-sm-2 Server
        %dd.col-sm-10 AWS, Heroku, private VPS (8+ years of web & game server administration)

        %dt.col-sm-2 Databases
        %dd.col-sm-10 SQL & MySQL, MongoDB, Postgres, Redis

        %dt.col-sm-2 Frameworks
        %dd.col-sm-10 Angular, Vue, Rails, Flask, Bootstrap, Semantic UI, Materialize

        %dt.col-sm-2 Other tech
        %dd.col-sm-10 Vim/Neovim, Linux (Debian), Photoshop &amp; Illustrator, Amazon Alexa, LaTeX/XeTeX, git, Webpack, Electron

        %dt.col-sm-2 Miscellaneous
        %dd.col-sm-10 SCRUM, TDD, StackOverflow
      .col-xs-12.text-xs-center
        %a.btn.btn-success.btn-lg{:href => "http://zakstrassberg.com/resume.pdf"} View my Resume
  -##########################
  -########## WORK ##########
  -##########################
  %section.row#work
    %article.col-xs-12
      %h1.text-xs-center Work

    = render :partial => 'project',
      :locals => {:url => "http://foodtrucks.zaks.pw",
        :name => "Dude Where's my Truck?",
        :img => "/images/dwmt.png",
        :content => "<p>Dude Where's My Truck is a python webapp that dynamically filters and displays food trucks in San Francisco.</p><p> It uses Google Maps API, Google Geometry API, Data.gov API, Twilio, FontAwesome, Moment.js, Bootstrap, and jQuery.</p><p> DWMT was a Group project (2 person) completed in four days. I was responsible for project management and front-end development. It won first place in the August Python hackathon at Coding Dojo!</p>"}

    .clearfix.visible-xs-block

    = render :partial => 'project',
      :locals => {:url => "http://tetromino.herokuapp.com/",
        :name => "Tetromino",
        :img => "/images/tetromino.png",
        :content => "<p>Battle your friends in multiplayer, competitive Tetris! Written for MEAN stack project week, this was an individual project.</p><p>Tetromino is built on Node, Mongo, Express, Vue, Bootstrap, websockets/Socket.io, and Heroku.</p><p>Tetronimo was a hit and won first place in the September MEAN hackathon at Coding Dojo. People were still competing for the high score after weeks!</p>"}


    .clearfix.visible-xs-block.visible-sm-block

    = render :partial => 'project',
      :locals => {:url => "http://ninja-messages.herokuapp.com",
        :name => "Ninja Messages",
        :img => "/images/ninja-messages.png",
        :content => "<p> Ninja Messages is a threaded messaging board created for Rails stack  project week. It features live-reloading posts and activity  notifications when users interact with the site using Vue.js and ActionCable (websockets).</p><p> This was an individual project completed in 5 days and won first place in the October Rails hackathon.</p>"}

    .clearfix.visible-xs-block
    = render :partial => 'project',
      :locals => {:url => "https://github.com/ZakStrassberg/exalted-roller",
        :name => "Node.js Dice Roller",
        :img => "/images/exalted-roller.png",
        :content => "<p> I built a diceroller for Discord (a chat client) for one of my favorite tabletop RPGs, Exalted.  The dice-rolling logic is written in javascript and it uses Node.js to connect to a discord server.</p>  <p> It listens for messages starting with <mark>.roll</mark>, parses the message for parameters, and outputs the roll along with formatting and the number of successes.</p>"}

    .clearfix.visible-xs-block.visible-sm-block


    = render :partial => 'project',
      :locals => {:url => "https://github.com/zakstrassberg/dotfiles",
        :name => "Dotfiles",
        :img => "/images/dotfiles.png",
        :content => "<p> I maintain a github repository hosting my dotfiles. They are a work in progress  (and probably will be so in perpetuity). Send me a message on github  if you have any questions about my configs.</p>"}


    .clearfix.visible-xs-block

    = render :partial => 'project',
      :locals => {:url => "https://github.com/ZakStrassberg/zakstrassberg.com/",
        :name => "ZakStrassberg.com",
        :img => "/images/portfolio.png",
        :content => "<p> The source code for this very website can be found above.  It was coded in HAML + SASS and exported using the open source  <a href='http://get-serve.com/'>Serve</a> gem.</p>"}


    .clearfix.visible-xs-block.visible-sm-block

    = render :partial => 'project',
      :locals => {:url => "https://github.com/ZakStrassberg/tasks-rails",
        :name => "Tasks",
        :img => "/images/tasks.png",
        :content => "<p>An in-progress Rails app to keep me motivated. Complete tasks and goals in order to score points. Mostly an excuse to explore and practice some more advanced Rails features I want to gain experience with. I am working on an API and then making the app responsive.</p>"}

    .clearfix.visible-xs-block

  -###################
  -##### CONTACT #####
  -###################
  %article.col-xs-12#contact
    %h1.text-xs-center Contact
    %p Zak Strassberg
    %p
      %a{:href => "mailto:zakstrassberg@gmail.com"}
        zakstrassberg@gmail.com
    %p (812) 925-5227



  -#     -###################
  -#     -##### SCIENCE #####
  -#     -###################
  -#     %section.col-xs-12.col-md-6#science
  -#       %h2.text-xs-center Science
  -#       %ul
  -#         %li
  -#           %h2
  -#             Stanford University
  -#             %small (Apr 2014 - Jul 2016)
  -#           %p.lead Lab manager and animal surgeon
  -#           %p Focus on <em>in vivo</em> research in the lab of Dr. Ngan Huang; responsible for technical and regulatory documents, wrote scripts to automate work, heavily involved in lab management and hiring.
  -#           %p Still employed part-time for technical expertise with an open invitation to come back to lab.
  -#           %p.lead Research Life Science Research Assistant I
  -#           %p Secondary position in the lab of Dr. Stanley Rockson, Chief of Consultative Cardiology at Stanford University School of Medicine.
  -#           %h4 Publications:
  -#           %ul
  -#             %li  Hadamitzky, Catarina, et al. "Aligned nanofibrillar collagen scaffolds–Guiding lymphangiogenesis for treatment of acquired lymphedema." Biomaterials (2016).
  -#             %li Cai, Lei, et al. "Protein-Engineered Hydrogels for Improved Efficacy of Stem Cell-Based Injection Therapy in a Murine Model of Peripheral Arterial Disease." Circulation 132.Suppl 3 (2015): A15060-A15060.
  -#         %li
  -#           %h2
  -#             McGill University
  -#             %small (Apr 2012 - Apr 2013)
  -#           %p Research assistant
  -#           %p Optimization for various protocols, including maximization of recombinant protein yield and development of autoinduction media for
  -#         %li
  -#           %h2
  -#             Jackson Laboratories
  -#             %small (Jan 2010 - May 2010, May 2011 - Aug 2011)
  -#
  -# -#################
  -# -##### ABOUT #####
  -# -#################
  -# %section.row#about
  -#   %article.col-xs-12.col-md-8#about
  -#     -# About section (parsed from Markdown)
  -#     %h1.text-xs-center About
  -#     :markdown
  -#       I've always been intensely interested in the web. Growing up in rural Maine, the internet was a link to the rest of the world unlike anything I had ever encountered before. I cut my teeth in DC++ (an early peer-to-peer file sharing client) and before long I was running game servers and installing Linux in order to play with LAMP. Soon thereafter I discovered IRC and the rest is history.
  -#
  -#       I became interested in Biology after an internship at The Jackson Laboratory, a world-class research facility. I would go on to major in Biology at McGill University, although my interest in technology never waned. During this time I continued to hone my technical skills, learning LaTeX and keeping up with new developments in web design.
  -#
  -#       After graduating from McGill I spent time deciding what to do next. While volunteering for a lab at Boston University School of Medicine I discovered how fun and exciting coding is. I taught myself Python in a weekend and had a script ready for testing on Monday. Soon thereafter I was offered a position at Stanford University School of Medicine and joined the lab of Dr. Ngan Huang.
  -#
  -#       After 2 years at Stanford I was ready for a change and decided to attend Coding Dojo. I wanted to learn new skills and take my entirely self-taught coding skills to the next level. Now I am looking for a job in the tech industry. I am a quick study, a hard worker, and a self-motivated individual.
